.photo-list {
  margin-top: 30px;
}
.photo-list .ui.cards .ui.card .main-image {
  height: 200px;
}

.photo-list .ui.cards .ui.card .main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block {
  display: block;
}
